/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#307a56;
$color4:#333;
$color5:#8c8c8c;
$color6:#ccc;
$color7:#e6e6e6;

$color8:#292929;


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%
}


body{
	@include flexbox;
	@include font-size(1.4);
	font-family: "SegoeUIRegular", Arial;
	color: $color4;
	flex-flow: column;
	font-display: swap;
	height: 100vh;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.woff2') format('woff2'),
         url('../fonts/CenturyGothic.woff') format('woff'),
         url('../fonts/CenturyGothic.ttf') format('truetype')
}


@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/CenturyGothicBold.woff2') format('woff2'),
         url('../fonts/CenturyGothicBold.woff') format('woff'),
         url('../fonts/CenturyGothicBold.ttf') format('truetype')
}


@font-face {
    font-family: 'CenturyGothicItalic';
    src: url('../fonts/CenturyGothicItalic.eot') format('embedded-opentype'),
         url('../fonts/CenturyGothicItalic.woff2') format('woff2'),
         url('../fonts/CenturyGothicItalic.woff') format('woff'),
         url('../fonts/CenturyGothicItalic.ttf') format('truetype')
}



/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIBoldItalic";
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot");
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.woff") format("woff"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.cg{font-family: 'CenturyGothic'}
.cgb{font-family: 'CenturyGothicBold'}
.cgi{font-family: 'CenturyGothicItalic'}

.bold{
	font-family: "SegoeUIBold";
}
.italic{
	font-family: "SegoeUIItalic";
}



.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
	padding-bottom: 4rem;
}

/*** standart classes *****/
p{}
a{color:#020000; @include transition;}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}


*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

@font-face {
	// font-family: 'ucb';
	// src: url('../fonts/univers_condensed_bold.eot');
	// src: url('../fonts/univers_condensed_bold.eot?#iefix') format('embedded-opentype'),
	// 	 url('../fonts/univers_condensed_bold.woff') format('woff'),
	// 	 url('../fonts/univers_condensed_bold.ttf') format('truetype'),
	// 	 url('../fonts/univers_condensed_bold.svg#univers_condensedbold') format('svg');
	// font-weight: normal;
	// font-style: normal;
}

// .ucb{font-family: 'ucb'}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
	border: 1px solid $color3;
	border-radius: 0;
	margin-top: 0.6rem;
	font-size: 16px;
	@include transition;
	&:focus,
	&:active{
		border-color: $color3 !important;
		// box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba($color3, 1)
	}
}

.flexbox{
	@include flexbox;
}

.title{
	@extend .bold;
	@include font-size(2.4);
	color: $color5;
	text-transform: uppercase;
	margin-bottom: .5rem;
}

/* =header
---------------------------*/
.header{
	&__nav{
		margin-top: 4.5rem;
		flex-basis: 61rem;
	}
	.contacts{
		margin-left: 5.5rem;
	}
}

.nav{
	display: flex;
	justify-content: space-around;
	color: $color3;
	width: 615px;
	@extend .cg;
	a{
		color: $color3;
		text-decoration: none;
		border-bottom: 1px dashed rgba(255,255,255,0);
		@include transition-param(border-bottom);
		&:hover{
			border-bottom-color: rgba($color3, 1);
		}
	}
	li{

	}
}

.contacts{
	@include gradient-vertical(#8bbaa3, #317b57);
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 12rem;
	justify-content: center;
	width: 24rem;
	a{
		color: $color2;
	}
	&__tel{
		@extend .bold;
		@include font-size(2.4); 
		font-weight: bold;
		text-decoration: none;
	}
	&__ring{
		@extend .cgi;
		border-bottom: 1px dashed $color2;
		margin-top: 1.2rem;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			border-bottom-color: rgba($color2, 0);
		}
	}

	&-footer{
		@include gradient-vertical(#317b57, #8bbaa3);
	}
}

.neck{
	position: relative;
	z-index: 10;
	.logo{
		margin-left: 4.5rem;
	}
	.writeus-link{
		margin-left: 17.5rem;
		position: relative;
		top: -2.3rem;
		text-decoration: none;
		@extend .italic;
		$color: $color3;
		color: $color;
		border-bottom: 1px dashed $color;
		&:hover{
			border-bottom-color: rgba($color, 0);
		}
	}
}

.logo{
	img{
		display: block;
	}
}
/* =/header
---------------------------*/




.owl{
	&-nav{
		left: 50%;
		margin-left: -50%;
		position: absolute;
		top: 110px;
		width: 100%;
		.owl-{
			&prev,
			&next{
				background: url(../images/prevnext.png) no-repeat left top;
				height: 43px;
				position: absolute;
				width: 28px;
				&.disabled{
					opacity: .6;
				}
			}

			&next{
				right: 0;
				@include rotation(180deg);
			}
		}
	}

	&-item:not(.big){
		// transform: scale(.8)
	}
}




/* =main
---------------------------*/

.main{
	aside{
	}
}


.text,
.about{
	p{
		margin: 1rem 0;
	}
}


.text{
	margin: 1.5rem 0;
}


.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.more{
	@extend .italic;
	margin: 2rem 0;
	text-align: center;
	a{
		@extend .tdn;
		color: $color3;
	}
}


.block-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* =policy
---------------------------*/
.policy{
	@extend .italic;
	color: $color8;
	a{
		color: $color3;
		@extend .tdn;
	}
}
/* =/policy
---------------------------*/


.user-access + label {
  cursor: pointer;
}

.user-access:not(checked) {
  position: absolute;
  opacity: 0;
}
.user-access:not(checked) + label {
  display: block;
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 40px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color6;
}

/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
	border-color: $color6;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
	content: '*';
	position: absolute;
	top: -3px;
	left: 7px;
	width: 22px;
	height: 22px;
	font-size: 30px;
}

input.submit:disabled{
	background: rgba(128, 128, 128, .3) !important;
	cursor: default;
	&:hover{
		opacity: 1 !important;
	}
}

.form-control,
textarea{
	@include transition-param(background);
}

textarea{
	resize: none;
}



/* =footer
---------------------------*/
footer{
}

.footer{
	.container{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	&__top{
		background: $color7;
		height: 12rem;
	}

	&__navcopyright{
		padding-top: 2.5rem;
		.nav{
			justify-content: space-between;
			padding-right: 6rem;
			width: 655px;
			a{
				color: $color4;
				&:hover{
					color: $color3;
				}
			}
		}

		.copyright{
			line-height: 1.5;
			padding-top: 2rem;
			&__right{
				@include font-size(1.3);
				@extend .cgi;
				color: $color3;	
				padding-left: .8rem;
				a{
					color: $color3;					
				}
			}
		}
	}


	&__cities{
		@extend .italic;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 775px;
		a{
			color: $color3;
			@extend .tdn;
		}
	}
	&__logo{
		background: $color3;
		width: 120px;
		height: 120px;
		display: flex;
		@extend .flexcenter;
	}

	&__social{
		display: flex;
		@extend .flexcenter;

		&-icons{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-left: 2.2rem;
			width: 150px;
			a{
				filter: grayscale(1);
				&:hover{
					filter: grayscale(0);

				}
			}
		}
	}

}
.kreotif{
	color: $color1;
	@extend .cgi;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	margin-left: 3rem;
	text-align: right;
	@include font-size(1.3);
	padding-bottom: 1.5rem;
	a{
		@extend .tdn;
		color: $color3;
	}
}



