::-ms-clear {
	display: none;
}


// safari
_::-webkit-:host:not(:root:root), .slider{
	// margin-bottom: -600px;
}


// edge
@supports (-ms-ime-align:auto) {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html, body{
		height: auto;
	}

	.header .contacts{
		margin-left: 6.2rem;
	}


	textarea{
		overflow: hidden;
	}

	.slider .bx-controls{
		z-index: 100;
	}

	.sqicons__item{
		flex-basis: calc(50% - 13rem);
	}

	.services__textbox{
		left: 0;
		right: 0;
	}

	.footer__navcopyright{
		width: 782px;
	}

	.team__item{
		flex-basis: calc(33.3% - 5rem)
	}

	// services
	.allservices__link{
		width: 100%;
	}


	// works photo video
	.photo__textbox, 
	.video__textbox{
		width: 100%;
	}


	// pageerror
	.page-error{
		.text{
			.title,
			.numerror{
				margin-left: 48.1rem;
			}
		}
	}

	@media (max-width: 1400px){
		.page-error{
			.text{
				.title,
				.numerror{
					margin-left: 35.6rem;
				}
			}
		}
	}


	@media (max-width: 1199px){
		.page-error{
			.text{
				.title,
				.numerror{
					margin-left: 22.3rem;
				}
			}
		}
	}


	@media (max-width: 991px){
		.page-error{
			.text{
				.title,
				.numerror{
					margin-left: 0;
				}
			}
		}
	}

}


html.ie10{
	height: auto;
}

.ie10{
	body{
		height: auto;
	}

	textarea{
		overflow: hidden;
	}

	.contacts{
		display: block;
		text-align: center;
		padding-top: 2rem;
		a{
			display: block;
			margin: 1rem 0;
		}
	}

	.slider .bx-controls{
		z-index: 100;
	}

	.sqicons{
		&__item{
			flex-basis: calc(50% - 13rem);
		}
		&__text{
			width: 100%;
		}
	}

	.services__textbox{
		left: 0;
		right: 0;
	}

	.footer__navcopyright{
		width: 782px;
	}

	// about
	.team{
		&__item{
			flex-basis: calc(31% - 5rem)
		}
		&__cell{
			width: calc(100% - 5rem);
			padding-right: 4rem;
		}
	}

	// services
	.allservices__link{
		width: 100%;
	}

	// works photo video
	.photo__textbox, 
	.video__textbox{
		width: 100%;
	}

	// articles
	.article__title{
		display: block;
		padding-top: 3rem;
	}

	// pageerror
	.page-error{
		.text{
			.title,
			.numerror{
				margin-left: 48.1rem;
			}
		}
	}
}