$h1 : 360px;

.flexcenter{
	justify-content: center;
	align-items: center;
}

.slider{
	height: 600px;
	position: relative;
	margin-top: -124px;
	margin-bottom: -$h1+18;
	z-index: 9;
	&__item{
		text-align: center;
		img{
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__text{
		@extend .bold;
		@include font-size(1.8);
		background: rgba($color1, .65);
		color: $color2;
		left: 50%;
		margin-left: -550px;
		padding: .5rem 1rem;
		position: absolute;
		text-transform: uppercase;
		top: 178px;
	}
	.bx-controls{
		position: absolute;
		top: 0;
		width: 100%;
		.bx-pager{
			left: 59%;
			top: 300px;
			width: 150px;
			text-align: left;
		}
	}
	.bx-wrapper .bx-pager.bx-default-pager{
		a{
			border: 4px solid $color3;
			background: $color2;
			$size: 16px;
			width: $size;
			height: $size;
			&.active{
				background-color: $color3;
				border-color: $color2;
			}
		}
	}
}


/* =about
---------------------------*/
.about{
	height: $h1;
	position: relative;
	width: 55rem;
	z-index: 10;
	.more{
		text-align: right;
	}
}
/* =/about
---------------------------*/


/* =services
---------------------------*/
.services{
	&__carousel{
		margin: 3rem 0 2.7rem;
	}
	&__item{
		@extend .block-center;
		color: $color2;
		text-align: center;
		width: 300px;

		a{
			color: $color2;
			display: block;
			position: relative;

			&:after{
				@extend .before;
				@include transition-param;
				@include gradient-vertical(#8bbaa3, #317b57);
				height: 100%;
				left: 0;
				opacity: 0;
				top: 0;
				width: 100%;
				z-index: 1;
			}
			&:hover{
				&:after{
					opacity: .8;
				}
			}
		}

		hr{
			background: $color2;
			border:none;
			display: block;
			height: 3px;
			margin: 2rem auto;
			width: 85px;
		}

	}

	&__pic{
		img{
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	&__textbox{
		position: absolute;
		top: 0;
		z-index: 2;
		height: 100%;
		.flexbox{
			height: 100%;			
			flex-flow: column;
			justify-content: center;
		}
	}

	&__title{
		@include font-size(2);
		@extend .bold;
		text-transform: uppercase;
	}


	&__title,
	&__shorttext{
		padding: 0 20px;
	}

}
/* =/services
---------------------------*/


/* =approach
---------------------------*/
.approach{
	margin-top: 2.3rem;
	.flexbox{
		margin-bottom: 2.3rem;
	}
}

.sqicons{
	&-flexbox{
		flex-wrap: wrap;
		margin-top: -1.8rem;
	}
	&__item{
		display: flex;
		flex-basis: 50%;
		margin-top: 3.5rem;
		padding-left: 3rem;
		padding-right: 10rem;
		&-title{
			@extend .bold;
			@include font-size(1.4);
			color: $color5;
			margin-bottom: .5rem;
			text-transform: uppercase;
		}
	}

	&__pic{
		background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFkAAABZCAMAAABi1XidAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEX///8welYwelYwelYwelYwelYwelZSkHLE2c/1+fdVkXT0+PYwelb3+vgwelYwelb///+WdkU7AAAAEHRSTlMAH5PN2SHL3/P93/3P/SLOb5OgqAAAAAFiS0dEAIgFHUgAAAAHdElNRQfhCwgRDBeRKnj1AAAArUlEQVRYw+3ZsQ6DIBhFYYWrorbK+z9tI9qmTmDzM9icM8M3YOJym6ao+F3ZlcJ+lFvnlekk5w571+5w1+eOXpSlvkuyk4YwRqvGMEguyV7TbOZuzZMeSZaCKRxjkA7Z7in2nh/ZGN6+MTIyMjIyMjIyMnJWNlffISMjI1+W7/gXRUZGRkZGRkZG/h+53gZUa7eqt7XV2weXCpvmcsylbjWVV9eVj8AnufxaHfkFVomvDM8dllUAAAAASUVORK5CYII=") no-repeat left top;
		@extend .flexcenter;
		height: 87px;
		width: 87px;
		display: flex;
		flex-shrink: 0;	
	}

	&__text{
		padding-left: .9rem;
		padding-top: 1rem;
	}
}
/* =/approach
---------------------------*/


/* =services
---------------------------*/
.services{
	margin-top: 4rem;
	.sqicons{
		&-flexbox{
			margin-top: -1.5rem;
			margin-bottom: 4rem;
		}		
	}
}
/* =/services
---------------------------*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* =rubrics
---------------------------*/
.rubrics{
	margin: 3rem 0 2rem;
	&__nav{
		@include font-size(2.4);
		color: $color5;
		font-family: "SegoeUIBoldItalic";
		li{
			&.separator{
				margin: 0 1.5rem;
			}
		}
		a{
			border-bottom: 1px dashed rgba($color3, 0);
			color: $color5;
			text-decoration: none;
			&.current,
			&:hover{
				color: $color3;
				border-bottom-color: rgba($color3, 1);
			}
		}
	}
	
	.tab{
		display: none;
		&-current{
			display: block !important;
			animation: fadein .5s;
		}
	}

	&__body{
		margin-top: 2.6rem;
	}
	
	#tab-news,
	#tab-articles,
	#tab-faq,
	#tab-reviews
	{
		.flexbox{
			justify-content: space-around;
			margin: 0 auto 2.4rem;
			width: 85%;
		}
	}

	// news
	// &__news,
	&__faq,
	&__reviews{
		@extend .italic;
		&-item{
			box-shadow: 0 0 5px #ccc;
			padding: 1rem 1rem 2rem;
			width: 22rem;
		}

		&-title{
			@include font-size(1.4);
			font-family: "SegoeUIBoldItalic";
			height: 9rem;
			padding-top: .8rem;
		}

		a{
			@extend .tdn;
			&:hover{
				color: $color3;
			}
		}
	}



	// reviews
	&__reviews{
		&-title{
			font-family: 'CenturyGothicItalic' !important;
			font-weight: normal;
			height: auto;
			margin-bottom: 2rem;
		}
	}
}

// news

.news{
	@extend .italic;
	&__item{
		box-shadow: 0 0 5px #ccc;
		padding: 1rem 1rem 2rem;
		width: 22rem;
	}

	&__title{
		@include font-size(1.4);
		font-family: "SegoeUIBoldItalic";
		height: 9rem;
		padding-top: .8rem;
	}

	a{
		@extend .tdn;
		&:hover{
			color: $color3;
		}
	}
}

// article
.article{
	&__link{
		display: block;
		border: 1px solid #e9e9e9;
		box-shadow: 0 0 5px #ccc;
		padding: 6px;
		width: 219px;
		text-decoration: none;
		&:hover{
			.article{
				&__title{
					filter: grayscale(0);
				}
				&__pic{
					opacity: 1;
				}
			}
		}
	}
	&__pic{
		@include transition-param;
		opacity: .8;
		img{
			vertical-align: top;
		}
	}
	&__title{
		@extend .bold;
		@extend .flexcenter;
		@extend .gradient-green;
		@include font-size(1.5);
		@include transition-param(filter);
		color: $color2;
		display: flex;
		filter: grayscale(1);
		height: 104px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
}

/* =/rubrics
---------------------------*/


/* =partners
---------------------------*/
.partners{
	// margin-bottom: 3rem;
	&__items{
		margin: 3rem 0;	
		justify-content: space-around;
		a{
			display: block;
			border: 1px solid rgba($color3, 0);
			padding: 1rem;
			&:hover{
				border-color: rgba($color3, 1);
			}
		}
	}
}
/* =/partners
---------------------------*/



/* =map
---------------------------*/
.map{
	margin-top: 3rem;
}
#ymap{
	margin-top: 2.6rem;
	height: 400px;
}
/* =/map
---------------------------*/