/* =about
---------------------------*/
.about{
	margin-bottom: 4rem;
	width: 55rem;
}
/* =/about
---------------------------*/

.flexcenter{
	justify-content: center;
	align-items: center;
}


/* =approach
---------------------------*/
.approach{
	.flexbox{
		margin-bottom: 3rem;
	}
}

.sqicons{
	&-flexbox{
		flex-wrap: wrap;		
	}
	&__item{
		display: flex;
		flex-basis: 50%;
		margin-top: 3.5rem;
		padding-left: 3rem;
		padding-right: 10rem;
		&-title{
			@extend .bold;
			@include font-size(1.4);
			color: $color5;
			margin-bottom: .5rem;
			text-transform: uppercase;
		}
	}

	&__pic{
		background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFkAAABZCAMAAABi1XidAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEX///8welYwelYwelYwelYwelYwelZSkHLE2c/1+fdVkXT0+PYwelb3+vgwelYwelb///+WdkU7AAAAEHRSTlMAH5PN2SHL3/P93/3P/SLOb5OgqAAAAAFiS0dEAIgFHUgAAAAHdElNRQfhCwgRDBeRKnj1AAAArUlEQVRYw+3ZsQ6DIBhFYYWrorbK+z9tI9qmTmDzM9icM8M3YOJym6ao+F3ZlcJ+lFvnlekk5w571+5w1+eOXpSlvkuyk4YwRqvGMEguyV7TbOZuzZMeSZaCKRxjkA7Z7in2nh/ZGN6+MTIyMjIyMjIyMnJWNlffISMjI1+W7/gXRUZGRkZGRkZG/h+53gZUa7eqt7XV2weXCpvmcsylbjWVV9eVj8AnufxaHfkFVomvDM8dllUAAAAASUVORK5CYII=") no-repeat left top;
		@extend .flexcenter;
		height: 87px;
		width: 87px;
		display: flex;
		flex-shrink: 0;	
	}

	&__text{
		padding-left: 1.2rem;
		padding-top: 1rem;
	}

}
/* =/approach
---------------------------*/


/* =services
---------------------------*/
.services{
	margin-top: 4rem;
	.sqicons{
		&-flexbox{
			margin-top: -1.5rem;
			margin-bottom: 4rem;
		}		
	}
}
/* =/services
---------------------------*/


/* =rubrics
---------------------------*/
.rubrics{
	&__nav{
		@include font-size(2.4);
		font-family: "SegoeUIBoldItalic";
		font-style: italic;
		color: $color5;
		li{
			&.separator{
				margin: 0 1.5rem;
			}
		}
		a{
			color: $color5;
			text-decoration: none;
			border-bottom: 1px dashed rgba($color3, 0);
			&.current,
			&:hover{
				color: $color3;
				border-bottom-color: rgba($color3, 1);
			}
		}
	}
	
	.tab{
		display: none;
		&-current{
			display: block !important;
		}
	}

	&__body{
		margin-top: 2rem;
	}
	
	#tab-news{
		.flexbox{
			justify-content: space-around;
			margin-left: auto;
			margin-right: auto;
			width: 85%;
		}

	}

	&__news{
		@extend .italic;
		&-item{
			padding: 1rem 1rem 2rem;
			box-shadow: 0 0 5px #ccc;
			width: 22rem;
		}
		.date{

		}

		h3{
			@include font-size(1.4);
			font-family: "SegoeUIBoldItalic";
			height: 9.5rem;
			padding-top: .8rem;
		}

		a{
			@extend .tdn;
		}
	}
}
/* =/rubrics
---------------------------*/


/* =partners
---------------------------*/
.partners{
	margin-bottom: 3rem;
	&__items{
		margin: 2rem 0;	
		justify-content: space-around;
		a{
			display: block;
			border: 1px solid rgba($color3, 0);
			padding: 1rem;
			&:hover{
				border-color: rgba($color3, 1);
			}
		}
	}
}
/* =/partners
---------------------------*/

#map{
	height: 400px;
}



/* =feedback
---------------------------*/
.feedback{
	// background-color: rgba(255, 255, 255, .8);
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	z-index: 999;
	.title{
		color: $color3;
	}
	.vcard{
		@include font-size(1.5);
		margin-bottom: 1.4rem;
		.name{
			display: none;
		}
		.adr{
			margin-bottom: 1.2rem;
		}
		.tel{
			text-decoration: none;
			margin-right: .5rem;
		}
		.email{
			margin-left: .5rem;
			@extend .tdn;
			color: $color3;
		}
	}

	&__content{
		padding: .8rem 0 1rem;
	}
	&__form{
		border: 1px solid #e9e9e9;
		box-shadow: 0 0 3px #e9e9e9;
		margin-left: auto;
		margin-right: auto;
		padding: .8rem .8rem 1.8rem;
		position: relative;
		width: 765px;
		.row{
			@include flexbox;
			@include justify-content(space-between);
			margin-bottom: 1rem;
			input.form-control,
			textarea{
				border: 1px solid $color6;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}


			input.form-control{
				height: 3rem;
				width: 245px;
				@include placeholder($color1);
			}

			.form-control{
				@extend .italic;				
				@include font-size(1.4);
			}
	
			textarea{
				@extend .italic;
				flex: 1;
				overflow: hidden;
				height: 6.2rem;
				@include placeholder($color1);
			}

			.error{
				border: 1px solid red !important
			}
		}

		.policy{
			margin-top: 1.9rem;
		}

		.submit{
			@extend .block-center;
			@extend .bold;
			@extend .italic;
			@include gradient-vertical(#8bbaa3, #317b57);
			background-color: $color7;
			border: none;
			color: $color2;
			cursor: pointer;
			height: 6.2rem;
			margin-left: 1rem;
			margin-top: .6rem;
			padding: 0.8rem 2rem;
			text-decoration: none;
			&:hover{
				opacity: .9;
				@include gradient-vertical(#317b57, #8bbaa3);
			}
		}
	}
}
/* =/feedback
---------------------------*/