@media (max-width: 1400px){
	.footer{
		&__cities{
			width: 770px;
		}
		&__social-icons{
			margin-left: 1.2rem;
		}
		&__navcopyright{
			width: 650px;
		}
	}

	.header{
		&__nav{
			flex-basis: 65rem;
		}
		.contacts{
			margin-left: 0;
		}
	}
}


@media (max-width: 1199px){
	.header{
		.contacts{
			margin-left: 0;
		}
		&__nav{
			flex-basis: 50rem;
			flex-grow: 1;
		}
	}

	.contacts{
		flex-shrink: 0
	}

	.footer{
		&__cities{
			width: 637px;
		}
		&__social-icons{
			margin-left: 1.2rem;
		}
		&__navcopyright{
			width: 517px;
			.nav{
				padding-right: 1rem;
				width: 100%;
			}
		}
	}
}

@media (max-width: 1024px){
}

@media (max-width: 991px){
	.header{
		.contacts{
			margin-left: .5rem;
		}

		&-inner{
			background: none;
			.flexbox{
				flex-wrap: wrap;
			}
			.logo{
				padding-bottom: 1rem;
			}

			.header__nav{
				padding-bottom: 2rem;
			}

			.contacts{
				margin-left: 12rem;
			}
		}
	}


	.table-responsive {
		max-width: 100%;
		display: block;
		width: 100%;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}


	.text,
	.partners{
		text-align: justify;
	}

	.footer{
		&__top{
			text-align: center;
			height: auto;
			.flexbox{
				flex-flow: column;
			}
		}
		&__bottom{
			text-align: center;
			.flexbox{
				display: block;
			}
		}

		&__logo{
			display: none;
		}
		&__cities{
			padding: 2rem 0;
			width: auto;
		}
		&__social{
			&-icons{
				padding-bottom: 1rem;
				width: auto;
				a{
					margin: 0 .5rem; 
				}
			}
		}

		&__navcopyright{
			width: auto;
		}
	}

	.contacts-footer{
		background: none;
		color: $color1;
		height: auto;
		padding-top: 1rem;
		padding-bottom: 2rem;
		width: auto;
		a{
			color: $color4;
		}
	}

	.kreotif{
		line-height: 1.6;
		margin-left: 0;
		text-align: center;
	}

	.share{
		display: block;
		p{
			padding-right: 0;
			margin-bottom: 1.5rem;
		}
	}
}

@media (max-width: 768px){
	.header__nav{
		flex-basis: 48rem;
	}
}

@media (max-width: 767px){
	body{
		display: block;
	}

	.header{
		.contacts{
			display: none;
		}

		&-inner{
			.logo{
				margin-top: 1rem;
			}
		}
	}

	.neck{
		.logo{
			text-align: center;
			width: auto;
		}
		.writeus-link{
			margin-left: 0;
			position: static;
		}
	}
}


@media (max-width: 736px){
	#ymap{
		height: 300px;
	}
}



@media (max-width: 650px){
	.feedback__form,
	#writeus-form{
		.row{
			display: block;
			margin-bottom: 0;
			.form-control{
				padding-left: 1rem;
				text-align: left;
				width: 100% !important;
			}
		}
		.submit{
			margin-left: 0;
			width: 100%;
			@include font-size(1.5)
		}
	}
}

@media (max-width: 600px){
	.title{
		text-align: center;
	}

	#ymap{
		height: 280px;
	}
}

@media (max-width: 550px){
	.footer__navcopyright .nav{
		display: block;
		li{
			margin-bottom: .8rem;
		}
	}

	.footer__navcopyright .copyright{
		padding-top: 1rem;
	}

	.footer__social-icons{
		justify-content: center
	}
}


@media (max-width: 500px){
	.title{
		text-align: center;
	}

	.feedback__form{
		.form-control{
			text-align: center;
		}
	}
}


@media (max-width: 450px){
	.share{
		margin-top: 1.5rem;
		margin-bottom: -2rem;
	}
	.ya-share2 li{
		margin-bottom: .5rem !important;
	}

	.breadcrumbs{
		.B_crumbBox{
			display: block;
			li{
				display: inline-block;
				&.B_crumb:after{
					display: inline-block;					
				}
			}
		}
	}

	.text{
		table{
			text-align: initial;
		}
	}

	.feedback__form,
	#writeus{
		.form-control{
			text-align: center !important;
		}
	}
}

@media (max-width: 360px){
	h2{
		text-align: center;
	}
	.title{
		@include font-size(2.2)
	}
}
